body{
	height: 100vh;
	width: 100vw;
}
#game-area{
	height: 100%;
	width: 100%;
	background-color: lavender;
	position: relative;
}

.dog-element{
	height: 10%;
	width: 6%;
	background-color: red;
	background-image: url(https://s-media-cache-ak0.pinimg.com/736x/af/2f/95/af2f9549e59969ada32f0ca98a2bf37d.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 50%;
	top: 50%;
}